* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282d35;
    color: white;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    height: 100%;
    display: flex;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-logo span {
    font-size: 1.4rem;
    font-weight: 700;
    color: #61dafb;
}

.nav-logo img {
    width: 40px;
}

main {
    padding: 60px 30px;
    background-image: url(./react-logo.png);
    background-repeat: no-repeat;
    background-position: right 60%;
    background-size: 300px;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61dafb;
    font-size: 1.5rem;
}

